@import './../../theme.scss';

.navbar{
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $font-stack;
    font-weight: bold;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &--link{
        color:$secondary-color;
        text-decoration: none;
        padding: 1em 2em;
        &:focus{
            outline:0;
        }
        &:hover{
            text-decoration: underline 2px;
            text-underline-position: under;
        }
    }
    &__active{
        
    }
}